* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
  user-select: none !important;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
}

body {
  font-family: $font;
  overflow: hidden;
}

.container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;

  &.hidden {
    display: none;
  }
}

.music-container {
  .content {
    height: 500px;
    @media (max-width: 891px) { height: 450px; }
    @media (max-height: 650px) { height: 380px; }
    @media (max-height: 500px) { height: 340px; }
    overflow: auto;
    transition: height 500ms;

    @media (min-width: 891px) {
      overflow: hidden;
    }

    &.stretched {
      @media (max-height: 650px) { height: 420px; }
      @media (max-height: 500px) { height: 380px; }
    }
  }
}

.centered-stretchable-block {
  flex: 1;
  vertical-align: middle;
  display: flex;
  align-items: center;
}

.header {
  flex-direction: row;
  overflow: hidden;
  background: {
    color: #151515;
    repeat: no-repeat;
    position: 50%;
    size: 650px;
  }

  .body-color-1 & { background-image: url(../images/headers/1.svg); }
  .body-color-2 & { background-image: url(../images/headers/2.svg); }
  .body-color-3 & { background-image: url(../images/headers/3.svg); }
  .body-color-4 & { background-image: url(../images/headers/4.svg); }
  .body-color-5 & { background-image: url(../images/headers/5.svg); }

  @media (max-width: 891px) { background-size: 600px; }
  @media (max-width: 700px) { background-size: 450px; }
  @media (max-width: 500px) { background-size: 350px; }
  @media (max-width: 400px) { background-size: 300px; }

  @media (min-width: 891px) {
    background-position: 50% 60%;
  }
}

.content {
  background-color: #151515;
  position: relative;
}

.footer {
  background-color: #151515;
}

.social {
  margin: auto;
  text-align: center;

  a {
    display: inline-block;
    text-indent: -9999px;
    overflow: hidden;
    width: 150px;
    height: 30px;
    background: {
      repeat: no-repeat;
      position: 50%;
      size: auto 20px;
    }
    opacity: 0.4;
    transition: opacity 200ms;

    &:hover {
      opacity: 0.7;
    }

    @media (max-width: 763px) {
      width: 80px;
    }

    @media (max-width: 500px) {
      height: 24px;
      width: 50px;
    }

    @media (max-width: 380px) { height: 22px; }
    @media (max-width: 350px) { height: 18px; }
  }

  .__bandcamp {
    background-image: url(../images/social/bandcamp.svg);
    @media (max-width: 763px) { background-image: url(../images/social/bandcamp-short.svg); }
    background-size: auto 18px;
  }

  .__facebook {
    background-image: url(../images/social/facebook-letters.svg);
    @media (max-width: 763px) { background-image: url(../images/social/facebook-short.svg); }
    background-size: auto 17px;
  }

  .__youtube {
    background-image: url(../images/social/youtube.svg);
    background-size: auto 20px;
  }

  .__mail {
    background-image: url(../images/social/mail.svg);
    background-size: auto 20px;
  }

  .__soundcloud {
    background-image: url(../images/social/soundcloud.svg);
    @media (max-width: 763px) { background-image: url(../images/social/soundcloud-short.svg); }
    background-size: auto 17px;

    @media (max-width: 500px) {
      position: relative;
      top: -2px;
    }
  }
}
