$digit-count: 8;
$splitter-count: 0;

$digit-width-xl: 42px;
$digit-width-l: 34px;
$digit-width-m: 30px;
$digit-width-s: 26px;
$digit-width-xs: 20px;

$splitter-width-xl: 40px;
$splitter-width-l: 24px;
$splitter-width-m: 20px;
$splitter-width-s: 18px;
$splitter-width-xs: 15px;

.index-container {
  .content {
    background: url(../images/punch-black.png);
    background-position: 50%;
    background-size: 90%;
    flex-basis: 450px;
    @media (max-height: 700px) { flex-basis: 350px; }
    @media (max-height: 500px) { flex-basis: 250px; }
  }
}

.counter-container {
  flex-basis: ($digit-count * $digit-width-xl) + ($splitter-count * $splitter-width-xl);
  display: flex;
  flex-direction: column;

  @media (max-width: 700px) { flex-basis: ($digit-count * $digit-width-l) + ($splitter-count * $splitter-width-l); }
  @media (max-width: 550px) { flex-basis: ($digit-count * $digit-width-m) + ($splitter-count * $splitter-width-m); }
  @media (max-width: 400px) { flex-basis: ($digit-count * $digit-width-s) + ($splitter-count * $splitter-width-s); }
  @media (max-width: 360px) { flex-basis: ($digit-count * $digit-width-xs) + ($splitter-count * $splitter-width-xl); }
}

.counter {
  font-size: 0;
  overflow: hidden;
  flex-basis: 70px;
  height: 100%;

  @media (max-width: 700px) { flex-basis: 65px; height: 65px; }
  @media (max-width: 550px) { flex-basis: 60px; height: 60px; }
  @media (max-width: 400px) { flex-basis: 55px; height: 55px; }
  @media (max-width: 360px) { flex-basis: 50px; height: 50px; }

  .hours,
  .minutes,
  .seconds {
    height: 100%;
    float: left;
  }

  .letter {
    width: $digit-width-xl;
    height: 100%;
    float: left;
    background-position: 50%;
    background-size: 100%;

    @media (max-width: 700px) { width: $digit-width-l; }
    @media (max-width: 550px) { width: $digit-width-m; }
    @media (max-width: 400px) { width: $digit-width-s; }
    @media (max-width: 360px) { width: $digit-width-xs; }

    &.letter-h { background-image: url(../images/letters/slash-big.png); }
    &.letter-m { background-image: url(../images/letters/slash-big.png); }
    &.letter-s { background-image: url(../images/letters/slash-big.png); }
  }

  .splitter {
    width: $splitter-width-xl;
    // background-image: url(../images/bg-sample.png);
    background-color: #151515;
    height: 100%;
    float: left;

    @media (max-width: 700px) { width: $splitter-width-l; }
    @media (max-width: 550px) { width: $splitter-width-m; }
    @media (max-width: 400px) { width: $splitter-width-s; }
    @media (max-width: 360px) { width: $splitter-width-xs; }
  }
}

.digit-spinner {
  width: 42px;
  height: 100%;
  float: left;
  transition: transform 500ms;

  @media (max-width: 700px) { width: 34px; }
  @media (max-width: 550px) { width: 30px; }
  @media (max-width: 400px) { width: 26px; }
  @media (max-width: 360px) { width: 20px; }

  >div {
    width: 100%;
    height: 100%;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: 100%;
  }

  .digit-0 { background-image: url(../images/numbers/0-big.png) };
  .digit-1 { background-image: url(../images/numbers/1-big.png) };
  .digit-2 { background-image: url(../images/numbers/2-big.png) };
  .digit-3 { background-image: url(../images/numbers/3-big.png) };
  .digit-4 { background-image: url(../images/numbers/4-big.png) };
  .digit-5 { background-image: url(../images/numbers/5-big.png) };
  .digit-6 { background-image: url(../images/numbers/6-big.png) };
  .digit-7 { background-image: url(../images/numbers/7-big.png) };
  .digit-8 { background-image: url(../images/numbers/8-big.png) };
  .digit-9 { background-image: url(../images/numbers/9-big.png) };
}
