.music-container {
  .content {
    flex-basis: 450px;
    @media (max-height: 700px) { flex-basis: 330px; }
    @media (max-height: 500px) { flex-basis: 300px; }
    overflow: auto;
  }

  .header-middle {
    flex-basis: 640px;
    display: flex;
    flex-direction: column;

    .title {
      height: 100px;
      background: url(../images/punch-black.png);
      background-position: 50%;
      background-size: 100%;
    }
  }
}

.albums {
  width: 850px;
  margin: auto;
  @media (max-height: 650px) { width: 750px; }
  @media (max-width: 890px) { width: 400px; }
  @media (max-width: 500px) { width: 340px; }
  @media (max-width: 350px) { width: 300px; }

  &.opened-2 {
    .album-1 {
      @media (min-width: 891px) {
        transform: translate3d(-200px, 0, 0);
      }
    }
    .album-2 {
      @media (min-width: 891px) {
        transform: translate3d(-200px, 0, 0) rotateY(-180deg);
      }
      @media (max-width: 890px) {
        transform: rotateY( -180deg );
      }
    }
  }

  &.opened-1 {
    .album-2 {
      @media (min-width: 891px) {
        transform: translate3d(200px, 0, 0);
      }
    }
    .album-1 {
      @media (min-width: 891px) {
        transform: translate3d(200px, 0, 0) rotateY(-180deg);
      }
      @media (max-width: 890px) {
        transform: rotateY(-180deg);
      }
    }
  }
}

.album {
  display: block;
  width: 400px;
  height: 400px;
  background-color: #1B1B1B;
  float: left;
  margin: 30px 50px 0 0;
  box-shadow: 0 0 20px 0 rgba(0,0,0,0.5);
  transition: all 1s;
  cursor: pointer;
  position: relative;
  transform-style: preserve-3d;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
  opacity: 0.8;

  &:active {
    transform: scale(0.9);
  }

  &:hover {
    opacity: 1;
  }

  @media (max-height: 650px) {
    width: 300px;
    height: 300px;
    margin-top: 10px;
  }
  @media (max-width: 500px) {
    width: 340px;
    height: 340px;
    margin: 0 auto 50px auto;
    float: none;
    box-shadow: none;
  }
  @media (max-width: 350px) {
    width: 300px;
    height: 300px;
  }

  &:last-child {
    @media (min-width: 891px) {
      margin-right: 0;
    }
    @media (max-width: 890px) {
      margin-bottom: 50px;
    }
  }

  .__title {
    font-family: Helvetica;
    font-weight: 200;
    font-size: 21px;
    color: #E5BE7F;
    line-height: 29px;
    margin-top: 20px;
    text-align: center;
    font-style: italic;
  }

  .__song-list {
    text-align: center;
    padding: 20px;
  }

  .__back,
  .__front {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .__back {
    backface-visibility: hidden;
    transform: rotateY(180deg);
    background-color: #1B1B1B;
  }

  .__front {
    background: {
      color: #1B1B1B;
      repeat: no-repeat;
      size: 100%;
    }

    // @media (max-height: 650px) { background-size: 70%; }
    // @media (max-width: 500px) { background-size: 70%; }
  }


  &.album-1 {
    .__front {
      background-image: url(../images/albums/album-1.png);
    }
  }
  &.album-2 {
    .__front {
      background-image: url(../images/albums/album-2.png);
    }
    @media (max-width: 500px) {
      margin-bottom: 30px;
    }
  }
}

.song {
  opacity: 0.3;
  font-family: Helvetica;
  font-size: 15px;
  font-weight: 200;
  // letter-spacing: 1px;
  color: #FFFFFF;
  line-height: 30px;
  @media (max-height: 650px) { line-height: 22px; }
}

.social {
  margin: auto;

  a {
    display: inline-block;
    text-indent: -9999px;
    overflow: hidden;
    width: 150px;
    height: 30px;
    background: {
      repeat: no-repeat;
      position: 50%;
    }

    @media (max-width: 350px) {
      height: 25px;
    }
  }

  .__bandcamp { background-image: url(../images/social/bandcamp.png); }
  .__facebook { background-image: url(../images/social/facebook-letters.png); }
  .__youtube { background-image: url(../images/social/youtube.png); }
  .__mail {
    background-image: url(../images/social/mail.png);

    @media (max-width: 500px) {
      display: block;
      margin: 12px auto;
    }
    @media (max-width: 350px) {
      margin: 5px auto;
    }
  }
  .__soundcloud {
    background-image: url(../images/social/soundcloud.png);

    @media (max-width: 500px) {
      position: relative;
      top: -2px;
    }
  }
}
